# Config File while using CLLF
# Just use "true" and "false" for parameter value.
# 
#get_metadatatime=true
#get_config=false
#get_logs=true
#get_hidden_file_folder=true
#get_disk=false
#verify_package=false
#VR="v1.1"
#OUTDIR=Logs_$(hostname -I | awk '{print $1}')_$(hostname)_$(date +%F_%H-%M-%S)
################################################

get_metadatatime=true
get_config=false
get_logs=true
get_hidden_home_file=true
get_disk=false
verify_package=false
VR="v1.1"
OUTDIR=Logs_$(hostname -I | awk '{print $1}')_$(hostname)_$(date +%F_%H-%M-%S)
