# Config File while using CLLF
# Just use "true" and "false" for parameter value.
# 
#
#
#run_liveir=true                                                                      Live IR
#check_liveir=true                                                                    Check results Live IR
#get_metadatatime=true                                                                Get all metadata off file and folder, Like MFT in Windows
#get_metadatatime_exclude=["/mnt/log/","/mnt/databakup"]                              Exclude folder scan metadatatime
#get_config=false                                                                     Just copy Full /ETC folder ;D
#get_logs=true                                                                        Just copy Full /var/log folder ;D
#get_disk=false                                                                       Disk INFO
#verify_package=false                                                                 dpkg -V
#VR="v1.1"                                                                            ...
#OUTDIR=Logs_$(hostname -I | awk '{print $1}')_$(hostname)_$(date +%F_%H-%M-%S)       OUTDIR
################################################

run_liveir=true
check_liveir=true
get_metadatatime=true
get_metadatatime_exclude=[""]
get_config=false
get_logs=true
get_disk=true
verify_package=false
VR="v1.1"
OUTDIR=Logs_$(hostname -I | awk '{print $1}')_$(hostname)_$(date +%F_%H-%M-%S)
